@use '../../../../scss/base/variables' as v;

.product-table {
    width: 100%;
    border-collapse: collapse;

    &__header {
        background-color: v.$secondary;
        height: 48px;

        tr {
            th {
                border: none;
            }
        }
    }

    &__body {
        tr > td {
            height: 48px;
            border-bottom: 1px solid v.$gray;
        }
    }

    &__logo {
        border-radius: 50%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

.product-table-logo {
    width: 100px;
}

.product-table-body-logo {
    display: flex;
    justify-content: center;
}

.table-foot {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
