// Fonts
$mainFont: 'Open Sans', sans-serif;
$secondaryFont: 'Roboto', cursive;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1200px;

// Colors
$primary: #fcd34d;
$secondary: #e0e7ff;
$black: #000;
$white: #FFFFFF;
$gray: #a3a3a3;
$terciary: #172554;
$gray-light: #f3f4f6;
$error: #dc2626;